# Ignore backend node modules
/backend/node_modules
/alumniBackend/node_modules

# Ignore frontend node modules
/Frontend/node_modules
/alumni-network/node_modules

# Ignore environment files
/backend/.env
/alumniBackend/.env
/Frontend/.env
/alumni-network/.env
